* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 1000px;
    max-height: 1200px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-height: 960px;
   
    overflow: auto;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 1rem;
}

.form-wrapper select {
    width: 100px;
    height: 50px;
    border: 2px solid #0077b6;
    background-color: #caf0f8;
    color: #023e8a;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-wrapper select:hover {
    background-color: #00b4d8;
    color: #fff;
}

.startGame {
    width: 100px;
    height: 50px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #0077b6;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.startGame:hover {
    background-color: #00b4d8;
    transform: scale(1.05);
}

.square {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-sm {
    width: calc(100% / 8);
    aspect-ratio: 1;
}

.square-md {
    width: calc(100% / 10);
    aspect-ratio: 1;
}

.square-l {
    width: calc(100% / 16);
    aspect-ratio: 1;
}